{% extends 'logged_in.html' %}

{% block title %}Join a Room{% endblock %}

{% block inner %}
<body>
    <div class="container">
        <h1>Available Rooms</h1>

        <form method="GET">
            <input type="text" name="search" placeholder="Search by host name..." value="{{ request.args.get('search', '') }}">
            <label>
                <input type="checkbox" name="friends_only" {% if request.args.get('friends_only') %}checked{% endif %}>
                Friends-Only Rooms
            </label>
            <button type="submit">Search</button>
        </form>

        <ul style="list-style-type: inside; margin: 0; padding: 0">
            {% for room in rooms %}
                <li class="watch-party-item">
                    <strong>{{ room.name }}</strong>

                    {% if room.host.profile_photo %}
                        <div style="background-image: url('{{ room.host.profile_photo }}'); width: 35px; height: 35px" title="Profile Photo" class="profile-img"></div>
                    {% else %}
                        <img src="{{ url_for('static', filename='img/noprofile.svg') }}" style="width: 35px; height: 35px" alt="Profile Photo" class="profile-img">
                    {% endif %}

                    <div>
                        {{ room.host.username }}
                    </div>
                    <div>
                        {{ room.description or 'No description' }}
                    </div>

                    <a class="btn" href="{{ url_for('join_room_page', room_id=room.id) }}" style="margin-left: auto;">Join Room</a>
                </li>
            {% else %}
                <li>No rooms found.</li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock %}
