<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SocialVisor{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://unpkg.com/picmo@latest/dist/umd/index.js"></script>
</head>
<body>
    <div class="page-container">
        <header>
            <img src="static/img/logo.svg" class="logo">
        </header>
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>&copy; 2024 Infinihall</p>
        </footer>
    </div>
</body>
</html>
