{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h2>Change Password</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    <div>
        {{ form.current_password.label }}<br>
        {{ form.current_password(class="form-control") }}
        {% for error in form.current_password.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <div>
        {{ form.new_password.label }}<br>
        {{ form.new_password(class="form-control") }}
        {% for error in form.new_password.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <div>
        {{ form.confirm_new_password.label }}<br>
        {{ form.confirm_new_password(class="form-control") }}
        {% for error in form.confirm_new_password.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{% endblock %}
