{% extends 'logged_in.html' %}

{% block title %}Change Password{% endblock %}

{% block inner %}
<div class="container">
    <h2 class="section-header">Change Password</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="login-field">
            {{ form.current_password.label }}
            {{ form.current_password(style="width:100%") }}
            {% for error in form.current_password.errors %}
            <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <br>

        <div class="login-field">
            {{ form.new_password.label }}
            {{ form.new_password(style="width:100%") }}
            {% for error in form.new_password.errors %}
            <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <br>

        <div class="login-field">
            {{ form.confirm_new_password.label }}
            {{ form.confirm_new_password(style="width:100%") }}
            {% for error in form.confirm_new_password.errors %}
            <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        
        <br>

        <button type="submit" class="btn" style="width: 50%; margin: auto; display: block">{{ form.submit.label }}</button>
    </form>
    <a href="{{ url_for('account_settings') }}" class="btn btn-primary">Back to Account Settings</a>
</div>
{% endblock %}
