{% extends 'logged_in.html' %}

{% block title %}Direct Messages{% endblock %}

{% block inner %}

<div class="container">
    <h1 class="section-header">Direct Messages</h1>
    {% if friends|length == 0 %}
        <p>No friends found. Send someone a friend request to be able to direct message them.</p>
    {% else %}

    <h2>Your Friends</h2>
    <ul>
        {% for friend in friends %}
            <li><a href="{{ url_for('chat_with_friend', friend_id=friend.id) }}">{{ friend.username }}</a></li>
        {% endfor %}
    </ul>

    {% endif %}
</div>

{% endblock %}