{% extends 'logged_in.html' %}

{% block title %}Group chats{% endblock %}

{% block inner %}

<div class="container">
    <h1 class="section-header">Group Chats</h1>

    <h3 style="text-align: left;">Create a New Group</h2>
    <!-- <a class="btn" href="{{ url_for('create_group') }}">Create Group</a> -->

    <form action="{{ url_for('create_group') }}" method="POST" style="display: flex; gap: 10px; margin: 0">
        <input type="text" name="name" placeholder="Group Name" required style="height: 30px">
        <button class="btn" type="submit">Create Group</button>
    </form>

    {% if groups|length == 0 %}
    <p>You are not a member of any groups yet.</p>
    {% else %}

    <h2>Your Groups</h2>
    <ul>
        {% for group in groups %}
            <li>
                <a href="{{ url_for('chat_with_group', group_id=group.id) }}">{{ group.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {% endif %}
</div>

{% endblock %}