{% extends 'logged_in.html' %}

{% block title %}Invite Friends to {{ group.name }}{% endblock %}

{% block inner %}
<div class="container">
    <h1>Invite Friends to {{ group.name }}</h1>
    <form action="{{ url_for('invite_to_group', group_id=group.id) }}" method="POST">
        {% for friend in friends %}
            <div>
                <input type="checkbox" id="friend_{{ friend.id }}" name="friend_ids" value="{{ friend.id }}">
                <label for="friend_{{ friend.id }}">{{ friend.username }}</label>
            </div>
            <button class="btn" type="submit">Send Invites</button>
        {% else %}
            <p>No friends to invite.</p>
        {% endfor %}
    </form>
    <a class="btn" href="{{ url_for('chat_with_group', group_id=group.id) }}">Back to Group Chat</a>
</div>

{% endblock %}
