{% extends 'base.html' %}

{% block content %}

<div class="nav-container">
    <nav>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('watch_party') }}">Watch Party</a>
        <a href="{{ url_for('friends') }}">Friends</a>
        <a href="{{ url_for('available_rooms') }}">Join Room</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>


    <div class="name-area">
        <span class="bar-username">Hello, {{ user.username }}</span>
        {% if user.profile_photo %}
            <img src="{{ user.profile_photo }}" alt="Profile Photo" style="width: 24px; height: 24px; border-radius: 50%;">
        {% endif %}
        <a href="{{ url_for('account_settings') }}" style="height: 24px;">
            <img class="logo" src="static/img/manageacct.svg" style="height: 100%" alt="Account Settings Button">
        </a>
    </div>
</div>

{% block inner %}{% endblock %}

{% endblock %}