{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="login-container">
    <div class="container">
        <form method="POST">
            {{ form.hidden_tag() }}
                <h2>Login</h2>
                <div class="login-field">
                    {{ form.username.label }}
                    {{ form.username(style="width:100%") }}
                </div>
                <br>
                <div class="login-field">
                    {{ form.password.label }}
                    {{ form.password(style="width:100%") }}
                </div>
                <button type="submit" style="font-size: 10pt; width: 80%; margin-top: 30pt">Log in</button>
        </form>
    </div>
    <p style="text-align: center;">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
</div>
{% endblock %}
