{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h2 class="section-header">Register</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
    
            <div style="margin: 10px;">
                <div class="login-field">
                    {{ form.username.label }}
                    {{ form.username(style="width:100%") }}
                </div>
                <br>
                <div class="login-field">
                    {{ form.email.label }}
                    {{ form.email(style="width:100%") }}
                </div>
                <br>
                <div class="login-field">
                    {{ form.password.label }}
                    {{ form.password(style="width:100%") }}
                </div>
            </div>
            <br>
            <button type="submit" class="btn" style="display: block; width: 80%; margin: auto">Register</button>
        </form>
    </div>
</div>
{% endblock %}
